*{
    margin: 0px;
    font-family: Tahoma;
    font-size: 14pt;
}

body{
    padding: 10px;
}

table{
    border-collapse: collapse;
}

.date{
    padding: 3px;
    background-color: #B3F9D1;
    border: solid #0BDF02;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 20px;
    z-index: 10;
    margin-left: -90px;
}

.massege{
    position: relative;
    padding: 3px;
    background-color: #F9FDCE;
    border: solid #FCF594;
    margin: 10px;
}

.massege:nth-child(2){
    margin-top: 55px;
}

.data{
    font-size: 12px;
    color: #666;
}

.in{
    left: 20px;
    margin-right: 100px;
}

.out{
    right: 20px;
    margin-left: 100px;
    background-color: #BAF9F2;
    border: solid #6BEBFB;
}

.in::before, .in::after {
	content: ''; 
	position: absolute;
	left: -20px; top: 10px;
	border: 10px solid transparent;
	border-right: 10px solid #FCF594;
}
.in::after {
	border-right: 10px solid #F9FDCE;
	left: -19px; 
}
