body{
    background-color: #000080;
}

h1{
    color: #FFFF00;
    font-weight: bold;
    /* p-p  2em */
    font-family: Georgia, serif;
    text-shadow: .1em .1em .2em gray;
}

h2{
    color: #EEE8AA;
    text-transform: uppercase;
    /* p-p  2em */
    letter-spacing: 0.5em;
}

.two_div{
    background-color: rgba(255, 255, 255, .3);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border: 2px solid #DDD;
}

.div_list{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

ul#menu{
    padding: 0;
    margin: 0;
}

ul#menu > li{
    width: 200px;
    list-style-type: none;
    text-align: center;
    background-color: #4169E1;
    color: #FFFF00;
    padding: 5px;
    font-family: Verdana;
    font-size: 90%;
    font-weight: bold;
    float: left;
}

li > details{
    display: block;
    font-weight: 400;
    font-size: 100%;
    background-color: #FFF8DC;
    color: #4B0082;
    border: 1px solid #666;
    border-bottom: 0;
    padding: 5px;
}

li > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 5px;
    text-align: left;
    border-bottom: 1px solid #666;
}

details > p{
    display: block;
    font-weight: 400;
    font-family: Tahoma, sans-serif;
    font-size: 90%;
    background-color: #EEE8AA;
    color: #2f4f4f;
    border: 1px dashed #999;
    padding: 5px;
}

p{
    margin: 0;
}

.right_img{
    background-image: url(picture/iksi1.png);
    height: 100%;
    width: 45px;
    background-size: contain;
    position: absolute;
    right: 0.3%;
}

.left_img{
    background-image: url(picture/academy1.png);
    height: 100%;
    width: 45px;
    background-size: contain;
    position: absolute;
    left: 0.3%;
}

details:hover{
    background-color: #f5b491;
}