/* Селекторы для .html файла */ 

*{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    font-size: 14px;
}

body{
    padding: 10px;
}

table{
    box-sizing: border-box;
    border-collapse: collapse;
}

.order_form{
    width: 350px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
}

div h1{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* form{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
} */

fieldset{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
}

td{
    padding: 3px;
}

td:first-child{
    text-align: right;
}

textarea{
    width: 348px;
    max-width: 369px;
    min-width: 69px;
    height: 150px;
    min-height: 70px;
    background-color: white;
}

.buttonrs{
    background-color: white;
    padding-top: 3px;
    text-align: center;
    text-decoration-color: #999;
    padding: 3px;
    border: 1px solid #bbb;
    width: 162px;
}

/* .left{
    margin-left: 0px;
    padding-left: 0px;
} */

input[type="text"]{
    text-decoration-color: #999;
    padding: 3px;
    border: 1px solid #bbb;
    width: 200px;
}

input[type="number"]{
    text-decoration-color: #999;
    padding: 3px;
    border: 1px solid #bbb;
    width: 200px;
}


/* Селекторы для .js файла */ 

.good {
    background-color: #D0FDD4;
    border: 1px solid #209F3A;
}
.bad {
    background-color: #FDD0D0;
    border: 1px solid #E74343;
}
.error {
    color: #FF2D31;
    padding-bottom: 5px;
}
.active {
    background-color: #209F3A;
    color: #fff;
    cursor: pointer;
}